home.css
h1{
    color:aquamarine;
    font-size: 300%;

}
h2
{
    color: aquamarine;
    font-size: 300%;
}
.responsive-img{
    height: 600px;
    width: 550px;
    border:black;
    border-radius: 75%;

}
@media only screen and (min-device-width: 440px) and (max-device-width: 956px) and (orientation: portrait) {
    body {
        background-color:crimson;
        color:#fff;
     
     }
  }
  a
  {
    font-size: 300%;
  }
